In [3]:
#arthimethic
3+4

7

In [4]:
2*3

6

In [5]:
5/3

1.6666666666666667

In [6]:
2-8

-6

In [7]:
5%3

2

In [8]:
20%2

0

In [9]:
#print
print("hello")

hello

In [11]:
#variable
a=4
a="sushil"
#python follow the approach of up to down just like c , c++
print(a)

sushil

In [14]:
k=34
print(k)
type(k)

34

int

In [22]:
#type
my_dogs=["ronny","tarzan","rocky"]
print(my_dogs)
type(my_dogs)
k=34.5
print(type(k))
m=3
print(type(m))
l="sushil"
print(type(l))

['ronny', 'tarzan', 'rocky']
<class 'float'>
<class 'int'>
<class 'str'>

In [17]:
a=10
print(a)

10

In [18]:
print(a)

10

In [19]:
a+=a
print(a)

20

In [20]:
#or
a=a+a
print(a)

40

In [23]:
#don't use inbuilt keyword like str ,int , float , list etc
int =5
print(int)#but this is wrong

5

In [ ]:
#after restarting lets see we find the value of a  which is assigned already 
print(a)
# it is not showing small  info about jupyter notebook

In [3]:
my_income =34
tax =0.13
# let find how i much i pay the tax hera 
print(my_income*tax)
# my net salary is 
print(my_income- (my_income*tax))

4.42
29.58

In [5]:
# strings : sequence of the char written inside the double quote ('... ')and or("....") and ('''  hai ''')for multiple lines we will see that too 
""" this is multiple line comment  """
print ('hai')
print("helo i don't know you ")
print(''' 
Dear friend john
                         Subject : to know you condition 
         i hope you are all right i have heard you are gone to the anywhere with out talking you mom and dad when you are home contact me 
                                                                                            your beloved friend Sushil ''')
# this is a random example of the string

hai
helo i don't know you

Dear friend john
                         Subject : to know you condition
         i hope you are all right i have heard you are gone to the anywhere with out talking you mom and dad when you are home contact me
                                                                                            your beloved friend Sushil

In [10]:
#index in the python 
message = "hai i love you"
print(message[0])
print(message[1])
print(message[-1])#this is cool feature of python which is not available in c,c++
#index start from 0 to n

h
a
u

In [11]:
#escape sequences 
#\n \t 
print("hello \n world")
print("hello \t \t world")

hello
 world
hello 	 	 world

In [ ]:
feeling = "iam bored"
len(feeling)#this gives us the length of the any strings

In [15]:
# slice 
name = "sushil"
print(name[1])
print(name[2])
print(name[::])#similarly display all
print(name[:2])
print(name[2:])
print(name[:])# display all 
# reverse everything 
print(name[::-1])
print(name[::2])#maintain the gap of the two in reverse order
print(name[::-2])#maintain the gap of the two from starting 
print(len(name))
print(name[:7])
print(name[0:7])
print(name[2:7:2]) #7 is the limit and starting is 2  and the last : indicate the jump in the index 
print(name[-2:0:-2])

u
s
sushil
su
shil
sushil
lihsus
ssi
lhu
6
sushil
sushil
si
is

In [16]:
#  some of the string properties and methods 
#immutability 
#we cannot assign the variable by this way 
name = "sam "
#but in the case of c++ we can do this 
name[0]='r'
print(name)

TypeError: 'str' object does not support item assignment

In [18]:
#resolving above one 
name = "sam"
print(name)
print(name[1:])

another = 'R'+name[1:]
print(another)

sam
am
Ram

In [19]:
# concatenation : string addition
name = " sushil "
surname ="Pandey "
print(name+surname)

 sushil  Pandey

In [20]:
# string multiplication
name = '❤️'*5
print(name)

❤️❤️❤️❤️❤️

In [21]:
# concatenation  with the different data type let see
# str with int 
print('I' + "love"+" YOU" + 2)

TypeError: can only concatenate str (not "int") to str

In [22]:
# concatenation  
print("I " + "Love"+" You"+" 2")

I Love You 2

In [23]:
#sum of two number 
num = '2'
num2 = '5'
print(num + num2)

25

In [26]:
x = "hello World"
print(x.upper())
print(x.lower())
print(x.split())#split by space 
#lets split by any letter
print(x.split('l')) #this is split any string in  the 
# list

HELLO WORLD
hello world
['hello', 'World']
['he', '', 'o Wor', 'd']

In [ ]:
'''Addition or concatenation can be done by two way 
.format and print(f" ") '''

In [28]:
# string interpolation
# .format method 
# string.format()
# syntax 
# " str {}.format(" str1")"

print("my name is sushil pandey {}".format(" \n Iam 21 years old new at github") )

my name is sushil pandey
 Iam 21 years old new at github

In [35]:
string ="The {} {} {}".format('fox','brown','quick')
print(len(string))
#it include the information in the curley brackets which is by the index 
string1 = "the word is {0} {0} ".format("dumb","ass")
print(string1)
string2 = "the word is {0} {1} ".format("dumb","ass")
print(string2)
#word is in the indexing form

19
the word is dumb dumb
the word is dumb ass

In [38]:
#playing with variable
string = "my name is {a} ".format(a="sushil",b =" pandey " )
print(string)

my name is sushil

In [47]:
result = 100/7
print(result)
print("The result of the above operation is {r:1 .3f}".format(r= result ))
#word.digit.precision

14.285714285714286
The result of the above operation is 14.286

In [48]:
name = "sushil"
print("Hello , his name is {}".format(name))

Hello , his name is sushil

In [49]:
#another method to display string 
name = "sushil"
surname = "pandey"
print(f"my name is {name} {surname}")

my name is sushil pandey

In [51]:
# number name roll no use this
#string fomatting 
name = "sushil"
roll_no=12
Phone_no =9807089018
print(f"my name is {name} \n My roll number is {roll_no} \n my Contact number is {Phone_no}")
print("My name is {} \n My roll number is {}\n My contact number is {}".format(name,roll_no,Phone_no))

my name is sushil
 My roll number is 12
 my Contact number is 9807089018
My name is sushil
 My roll number is 12
 My contact number is 9807089018